<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">로그인</h3>
</div>
<form name="myForm">
    <div class="modal-body">
        <div class="color-red" ng-if="login.error">{{login.error}}</div>
        <div class="form-group" ng-class="{'has-error': !!error.email, 'has-success': !error.email && !!login._id}">
            <label class="control-label" >ID</label>
            <input type="email" class="form-control" ng-model="login._id"  id="ID" placeholder="ID" ng-blur="checkEmail()" required>
        </div>
        <div class="form-group" ng-class="{'has-error': !!error.password, 'has-success': !error.password && !!login.password}">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" ng-model="login.password" placeholder="Password" required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="login.isAuto"> Auto Login
            </label>
        </div>
        <div>
            <a class="btn btn-default btn-xs" ng-click="moveJoin()">아직 워너미 회원이 아니세요? 간편 회원가입을 해보세요.</a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-lg btn-block" ng-click="doLogin()" ng-disabled="!!myForm.$error.required">Login</button>
    </div>
</form>