<div id="aboutwm">
    <!-- 여기서부터 프로그램 컨텐츠 -->
    <div class="cover">
        <div class="txt_box">
            <ul>
                <li>
                    <div class="title_bg_what"><p class="title">워너미는<br>무엇일까요?</p></div>
                </li>
                <li>
                    <p class="text_b">WANNAME 워너미는</p>
                    <p class="text_b">당신이 생각만 했던 일을 경험하게 돕는 직업 큐레이션 서비스 입니다.</p>
                </li>
                <li>
                    <p class="text_n">살아갈 날은 길어지고 회사생활은 짧아집니다.</p>
                    <p class="text_n">원하든 원치 않던 우리는 새로운 일을 해야 합니다.</p>
                    <p class="text_b">인생의 두 번째 시작. 당신이 원하는 일을 미리 경험하고 준비하세요.</p>
                </li>
                <li>
                    <p class="text_n">지금 여기 생각만으로 머물렀던 일을 찾는 아주 쉬운 방법이 있습니다.</p>
                    <p class="text_b">그것은 바로 미리 경험 해보는 것입니다.</p>
                    <p class="text_b">힘든 시기를 견뎌내고 당신보다 먼저 그 일을 하고있는 사람을 만나세요.</p>
                    <p class="text_n">그들과 함께 일하며 그 일의 처음부터 끝까지를 경험하며 배우세요.</p>
                    <p class="text_n">경험이야 말로 세상에서 가장 소중한 배움 입니다.</p>
                </li>
            </ul>
        </div>
        <div class="txt_box">
            <ul>
                <li>
                    <div class="title_bg_why"><p class="title">왜!<br>워너미가 필요할까요?</p></div>
                </li>
                <li>
                    <div class="sub_title">
                        <ul>
                            <li>
                                <p class="text_slogan">경험</p></li>
                            <li>
                                <div class="text_slogan_sub">
                                    <p class="text_b">파트너와 함께 일을 경험하며 체험합니다.</p>
                                    <p class="text_n">&#8226; 실제 일터 현장에서 모든 상황을 직접 일하며 경험합니다.</p>
                                    <p class="text_n">&#8226; 현업을 하고 있는 사람만이 알 수 있는 살아있는 이야기를 듣습니다.</p>
                                    <p class="text_n">&#8226; 생각만 했던 일의 진짜 모습을 알 수 있습니다.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="sub_title">
                        <ul>
                            <li>
                                <p class="text_slogan">조언</p></li>
                            <li>
                                <div class="text_slogan_sub">
                                    <p class="text_b">파트너에게 직업에 대한 조언을 듣습니다.</p>
                                    <p class="text_n">&#8226; 일터가 없는 직업이라면 직업에 대한 조언을 얻을 수 있습니다.</p>
                                    <p class="text_n">&#8226; 직업을 얻기까지의 과정과 필요한 능력, 준비 방법에 대해 상담합니다.</p>
                                    <p class="text_n">&#8226; 시도해 봤지만 다음에 무엇을 해야 할 지 모를 때 답을 찾을 수 있습니다.</p>
                                    <p class="text_n">&#8226; 비즈니스를 준비 중이라면 적중률을 높일 수 있는 현실적인 대안도 논의 합니다.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sub_title">
                        <ul>
                            <li>
                                <p class="text_slogan">기회</p></li>
                            <li>
                                <div class="text_slogan_sub">
                                    <p class="text_b">새로운 비즈니스 기회를 발견할 수 있습니다.</p>
                                    <p class="text_n">&#8226; 새로운 커리어에 대해 필요한 능력과 자신감을 얻을 수 있습니다.</p>
                                    <p class="text_n">&#8226; 당신의 열정이 책상 위에서만 살아있는 것인지 확인할 수 있습니다.</p>
                                    <p class="text_n">&#8226; 실제 체험을 통해 생각했던 일이 당신과 맞는지 확인 할 수 있습니다.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="txt_box">
                        <ul>
                            <li>
                                <div class="title_bg_dream"><p class="title">꿈꿨던 직업<br>워너미와 함께 하세요.</p></div>
                            </li>
                            <li>
                                <p class="text_b">"Human Potential Development Company"</p>
                                <p class="text_n">워너미는 국내 최초의 HPD Company가 되겠습니다.</p>
                                <p class="text_n">회사가 아닌 "당신만을 위한 가능성"을 찾는 일을 하겠습니다.</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>