#notice {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 15px;
    float: left;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
}

.notice {
    color: #444444;
}
.notice table {
    margin: 0;
}

.notice table td {
    cursor: pointer;
}

.notice table tr.best td {
    background-color: #1371e7;
    color: #fff;
}