<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Forgot password E-mail</title>
    <style>
        body {
            font-family: 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
        }
    </style>
</head>
<body style="font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif;font-size:15px; font-weight: 300;margin: 0; padding: 0; color: #4c4c4c;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style=" width:690px;border: 1px solid #ddd;">
    <tr>
        <td style="line-height: 0; border-bottom: 2px solid #015bb9">
            <a href="http://www.wanname.kr"><img src="http://www.wanname.kr/dist/imgs/logo.png" style="border: 0;"/></a>
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding: 15px 30px; line-height: 0.5em;">
                <p style="font-weight: bold;"><span style="color:#015bb9; font-weight: normal;"><%=name%></span>님 안녕하세요!</p>
                <p style="font-weight: 600">임시 비밀번호는 다음과 같습니다.</p>
            </div>
        </td>
    <tr>
        <td>
            <div style="background-color: #e9edee; padding: 0 20px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; width: 590px; text-align: left; margin: 0 auto;">
                <p style="font-weight: bold; font-size: 17px;">임시비밀번호: <span style="font-weight: normal; color:#015bb9;"><%=password%></span></p>
            </div>
        </td>
    </tr>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>