#programDetail article .after-box {
    background-color: #ededed;
    padding: 2%;
}

#programDetail article .main-title {
    margin-top: 20px;
}

#programDetail article .after-box table {
    margin: 0;
}

#programDetail article .couse-list table {
    margin: 0;
}

#programDetail article .couse-list table tr {
    background-color: #1371e7;
    color: #fff;
    text-align: center;
}

#programDetail article .couse-list table tr:hover {
    background-color: #2b669a;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#programDetail .course-box {
    height: 200px;
    background-color: #1371e7;
    cursor: pointer;
    color: #fff;
    padding: 15px;
    position: relative;
    border: 1px solid #fff;
}

#programDetail .course-box .name{
    font-size: 1.5em;
}

#programDetail .course-box .more{
    font-size: 1em;
    position: absolute;
    right: 10px;
    bottom: 10px;
}