<div id="join">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        회원가입
    </div>
    <form class="form-horizontal" name="myForm">
        <div class="modal-body clearfix">
            <p class="title-text">
                워너미의 회원이 되시면 더 많은 혜택을 누릴 수 있습니다.
            </p>
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">이름</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="실명을 입력해 주세요. 입력 예) 손성곤" ng-model="join.name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">이메일(ID)</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="입력 예) wanname@wanname.kr" ng-model="join._id" ng-blur="checkEmail()" required>
                    <div class="error" ng-if="error._id">
                        * {{error._id}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">비밀번호</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="영어 숫자 혼합 8자리 이상입니다." ng-model="join.password" ng-blur="checkPassword()" required>
                    <div class="error" ng-if="error.password">
                        * {{error.password}}
                    </div>
                </div>
            </div>
            <div class="form-group margin-bottom-0">
                <label class="col-sm-2 control-label">비밀번호 확인</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="입력하신 비밀번호를 다시 입력해주세요." ng-model="join.confirmPw" required>
                    <div class="error" ng-if="(join.password && join.confirmPw) && join.password != join.confirmPw">
                        * 입력하신 비밀번호가 동일하지 않습니다.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <label class="col-sm-2 control-label">성별</label>
                <div class="col-sm-10 radio">
                    <label>
                        <input type="radio" name="gender" value="남자" ng-model="join.gender">
                        남자
                    </label>
                    <label class="margin-left-15">
                        <input type="radio" name="gender" value="여자" ng-model="join.gender">
                        여자
                    </label>
                </div>
            </div>
            <div class="form-group birthday">
                <label class="col-sm-2 control-label">생년월일</label>
                <div class="col-sm-10">
                    <input-date-each date-data="join.birthday"></input-date-each>
                    <div class="error" ng-if="error.birthday">
                        * {{error.birthday}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">전화번호</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPh" placeholder="전화번호" maxlength="11" ng-model="join.ph" ph-pattern>
                    <div class="text">
                        추가 입력 정보 입니다.
                    </div>
                    <div class="text">
                        단 한번만 입력하시면 프로그램 신청 시 번거롭지 않습니다.
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-click="isInfo = !isInfo"> 개인정보 이용 약관 동의
                    </label>
                    <div class="float-right" ng-click="baseInfo = !baseInfo">
                        <a>읽어보기</a>
                    </div>
                </div>
            </div>
            <div class="terms-box" uib-collapse="!baseInfo">
                [개인정보 수집이용 목적]<br>

                wanname.kr, wanname.co.kr (이하 ‘워너미’) 는 다음의 목적을 위하여 개인정보를 처리하고 있으며,<br>

                다음의 목적 이외의 용도로는 이용하지 않습니다.<br>

                가. 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별, 인증, 회원자격 유지.관리, 물품<br>

                또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급. 배송 등<br>

                [개인정보 수집항목]<br>

                워너미는 회원가입, 쇼핑몰 이용, 서비스 신청 및 제공 등을 위해 다음과 같은 개인정보를 수집하고<br>

                있습니다.<br>

                가. 개인정보 항목<br>

                전자우편주소, 페이스북 ID 및 페이스북에서 제공하는 정보, 네이버 ID 및 네이버에서 제공하는 정보,<br>

                카카오스토리 ID 및 카카오스토리에서 제공하는 정보, 이름, 전화번호, 성별, 생년월일,<br>

                다만, 서비스 이용과정에서 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보, 결제기록 등이 생성되어<br>

                수집될 수 있습니다.<br>

                나. 수집방법: 워너미 회원가입 시의 회원가입 정보 및 고객센터를 통한 전화 및 온라인 상담<br>

                [개인정보 보유 및 이용기간]<br>

                워너미는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 개인정보를 지체 없이<br>

                파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 워너미는 아래와 같이 전자상거래<br>

                등에서의 소비자보호에 관한 법률, 신용정보의 이용 및 보호에 관한 법률, 정보통신망 이용촉진 및<br>

                정보보호에 관한 법률 제44조의5 및 시행령 제29조, 통신비밀보호법 제15조의2 및 시행령 제41조 등<br>

                관계법령에서 정한 일정한 기간 동안 회원 개인정보를 보관합니다.<br>

                상법 등 법령에 따라 보존할 필요성이 있는 경우<br>

                ① 표시 • 광고에 관한 기록: 6개월<br>

                ② 계약 또는 청약철회 등에 관한 기록: 5년<br>

                ③ 대금결제 및 재화 등의 공급에 관한 기록: 5년<br>

                ④ 소비자의 불만 또는 분쟁처리에 관한 기록: 3년<br>

                ⑤ 신용정보의 수집, 처리 및 이용 등에 관한 기록: 3년<br>

                ⑥ 본인확인에 관한 기록보존: 6개월<br>

                ⑦ 접속에 관한 기록보존: 3개월<br>

                [개인정보 제3자 제공]<br>

                가. 워너미는 개인정보보호지침 제8조(이용 및 제공의 제한)에 따라 이용자의 개인정보를 제7조의<br>

                규정에 의하여 고지 또는 명시한 범위를 초과하여 이용하거나 제3자에게 제공하지 않습니다. 또한<br>

                워너미는 개인정보보호지침 제 12조 비밀 유지안에 따라 서비스의 제공을 위하여 이용자의<br>

                개인정보를 취급하거나 취급하였던 자는 직무상 알게 된 개인정보를 타인에게 누설하거나 제공하지<br>

                않습니다. 단, 아래의 경우에는 예외로 합니다.<br>

                ① 회원들이 사전에 공개 또는 제3자 제공에 동의한 경우<br>

                ② 법령의 규정에 의거하나, 수사, 조사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관 및 감독<br>

                당국의 요구가 있는 경우<br>

                [개인정보 비밀유지를 위한 내용]<br>

                워너미는 이용자의 개인정보의 비밀을 유지하기 위하여 제3자에게는 이용자의 동의 없이 개인정보를<br>

                유출하지 않습니다. 워너미는 각종정부기관의 이용자 개인정보의 일방적 제공 요구에 대하여는<br>

                이용자의 개인정보를 제공하지 않습니다. 공식적인 정부기관의 절차를 완벽하게 이행한 자료요구에<br>

                대하여 만 이용자의 개인정보를 제공합니다. 워너미는 이용자의 개인정보를 회사가 정한 기본서비스<br>

                및 기타의 서비스 활동 이외에는 이용하지 않습니다. 위의 활동에 따라 이용자의 정보가 필요할 시에는<br>

                별도의 양식을 통한 수집 및 동의의 절차를 거쳐서 이용자의 개인정보를 이용합니다.<br>

                [이용자 및 법정대리인의 권리]<br>

                가. 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며<br>

                가입 해지를 요청할 수도 있습니다.<br>

                나. 회원의 개인정보 조회, 수정을 위해서는 &#39;개인정보변경&#39; (또는 &#39;회원정보수정&#39; 등)을,<br>

                가입해지(동의철회)를 위해서는 고객센터나 개인정보책임자로 이메일로 연락하시면 가입 해지 및<br>

                탈퇴가 가능합니다.<br>

                [개인정보 보호책임자]<br>

                가. 워너미는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의<br>

                불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.<br>

                ▶ 개인정보 보호책임자<br>

                성 명: 박지수 대표<br>

                연락처: 010 2344 5589<br>

                ※ 개인정보 보호 담당부서로 연결됩니다.<br>

                ▶ 개인정보 보호 담당부서<br>

                담당자: 손성곤 담당<br>

                연락처: 010 2344 5589, drson@wanname.kr<br>

                나. 정보주체께서는 워너미의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리,<br>

                피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다.<br>

                [개인정보 처리방침 변경]<br>

                이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이<br>

                있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.<br>

                시행일: 본 약관은 2016년 1월 1일부터 적용됩니다.<br>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-click="isHome = !isHome"> 홈페이지 이용 약관 동의
                    </label>
                    <div class="float-right" ng-click="homeTerms = !homeTerms">
                        <a>읽어보기</a>
                    </div>
                </div>
            </div>
            <div class="terms-box" uib-collapse="!homeTerms">
                제 1조 [목적]<br>

                본 약관은 워너미에서 운영하는 인터넷사이트(www.wanname.kr, www.wanname.co.kr) 이하 “워너미”)<br>

                가입 및 서비스 이용에 관한 제반 사항을 운용 시 필요한 규정을 정의함을 목적으로 합니다.<br>

                제 2조 [용어의 정의]<br>

                1. 회원: 워너미에 회원등록을 한 자로, 이용자 아이디(ID) 권리를 갖는 자를 말합니다.<br>

                2. 사이트: ‘워너미’가 상품을 회원에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 ‘상품<br>

                등’을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 사이버몰을 운영하는 의미로도 사용합니다.<br>

                현재 ‘워너미’가 운영하는 ‘사이트’는 www.wanname.kr, www.wanname.co.kr 입니다.<br>

                3. 비회원: 회원에 가입하지 않고 ‘사이트’가 제공하는 서비스를 이용하는 자를 말합니다.<br>

                4. 비밀번호: 회원의 동일성 확인과 회원의 권익 및 비밀보호를 위하여 회원 스스로가 설정하여<br>

                ‘사이트’에 등록한 영문과 숫자의 조합을 말합니다.<br>

                5. 프로그램: 직업체험 파트너들이 제공하는 직업체험을 위해 기획된 내용을 말합니다.<br>

                6. 파트너: 직업 체험을 제공하는 주체자를 말합니다.<br>

                7. 본 약관에서 정의되지 않은 용어는 관계법령이 정하는 바에 따르며, 그 외에는 일반적인 상관례에<br>

                의합니다.<br>

                제 3 조 [약관의 명시와 설명 및 개정]<br>

                1. ‘워너미’는 『전자상거래 등에서의 소비자보호에 관한 법률』, 『약관의 규제 등에 관한 법률』,<br>

                『전자거래 기본법』, 『전자 서명법』, 『정보통신망 이용촉진 등에 관한 법률』, 『소비자기본법』<br>

                등 관계법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br>

                3. ‘워너미’가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 ‘사이트’의<br>

                초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게<br>

                약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다.<br>

                4. ‘워너미’가 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고

                그 이전에 이미 체결된 계약에 대해서는 개정전의 약관조항이 그대로 적용됩니다.

                5. 본 약관에서 정하지 않은 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에

                관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자

                보호지침 및 관계법령 또는 상관례에 따릅니다.

                제 5조 [회원 가입]

                1. 워너미의 회원이 되고자 하는 자는 위즈돔의 가입양식에 따라 회원정보를 입력 후 ‘약관에 동의 후’

                입력 완료를 거쳐서 회원 가입을 신청합니다.

                2. 회원이 입력한 정보는 사실로 간주합니다. 회원가입시의 내용이 사실과 다를 경우와 타인의 정보를

                도용한 사실이 명백하게 확인 되는 경우, 워너미는 회원의 권한을 삭제하며 서비스의 전면적인 이용을

                거부 할 수 있습니다. 이로 인해 발생하는 모든 불이익은 당사가 책임지지 않습니다. 또한 워너미는

                필요한 경우에는 재증명을 요구할 수 있습니다.

                3. 워너미는 회원 가입을 신청한 회원이 아래 각 호에 해당하는 경우 회원가입 승낙을 유보 또는 거부

                할 수 있습니다.

                ① 등록내용 허위게재 하거나 기재누락, 오기가 있는 경우.

                ② 가입 신청 회원이 약관 및 서비스 이용에 관한 관계법령을 위반하여 회원자격을 상실 된 자.

                ③ 사회적 질서 및 미풍양속에 문란이 되는 행위자.

                ④ 부정한 용도 혹은 영리 추구를 목적으로 본 서비스에 가입 하고자 하는 자.

                ⑤ 이미 가입된 회원과 이름 및 전자우편주소가 동일한 경우

                ⑥ 회원가입일 현재 만 14세 미만인 경우

                ⑦ 기타 워너미의 여건상 이용승낙이 곤란하거나 가입결격 사유에 해당한 자.

                ⑧ 회원가입 계약 성립은 워너미의 가입 승낙이 가입 신청자에게 도달한 시점을 기준으로 합니다.

                제 6조 [서비스의 종류 및 범위]

                1. 가입 후 승인이 완료된 회원은 사이트에서 제공하는 컨텐츠를 열람할 수 있으며, 서비스 신청후

                결제를 통해 서비스를 이용할 수 있습니다.

                2. 서비스의 사용

                ① 서비스의 프로그램 열람은 무료이나, 개별 서비스를 오프라인에서 이용하기 위해서는 유료 구매해야

                합니다.

                ② 유료서비스는 추가적인 결제과정을 거치며 회원의 동의 하에 결제하도록 합니다.

                ③ 워너미는 양질의 서비스 제공을 위해 파트너들의 프로그램에 대해 수정, 보안, 중지 등을 요청할 수

                있으며 당사의 내부 규정에 따라 일부 서비스 이용을 제한 할 수 있습니다.

                ④ 워너미에서 “프로그램 구매”이후 서비스 이용에 대해서는 회원과 파트너간 행위의 책임은 회원과

                파트너에게 귀속됩니다. 회원과 파트너간의 발생한 문제에 대해서 워너미가 원만한 해결을 위한

                중재를 할 수도 있습니다. 워너미 에서는 문제가 발생한 경우 추후 다른 회원에게 추가적인 피해를

                입힐 수 있다고 판단되는 경우, 문제 회원 혹은 파트너를 탈퇴 혹은 아이디 영구삭제, 등의 후속 조치를

                취할 수 있습니다.

                제 7조 [컨텐츠의 저작권]

                1. 회원과 파트너가 사이트에 올린 게시물에 대한 권리와 책임은 게시자에게 있습니다. 워너미는

                파트너의 최초 프로그램 등록을 도우며 최종 승인할 권리를 같습니다. 단, 워너미에 의해 작성된

                인터뷰, 이벤트, 후기 등에 대한 제반 저작권은 워너미에 귀속됩니다.

                2. 회원과 파트너는 서비스를 이용, 제공하며 얻게 된 정보를 임의 가공, 판매하는 행위, 기타 방법에

                의하여 서비스에 게재된 자료를 상업적으로 사용하거나 제 3자에게 이용할 수 없습니다.

                3. 워너미는 사이트 내의 컨텐츠 혹은 워너미가 권리를 행사할 수 있는 저작물을 영리적인 목적의 2차

                저작물 (영상, 책자 등)을 제작할 수 있습니다.

                4. 워너미는 회원이나 파트너가 게시하거나 등록하는 서비스 내의 내용물이 사실과 다르거나

                미풍양속에 저해되거나 사회적 문제가 생길 우려가 있다고 판단되는 경우 혹은 워너미의 목적과 맞지

                않는 경우 사전통지 없이 삭제하거나 이동 또는 등록 거부할 수 있습니다.

                제 8조 [환불 및 결제 취소]

                1. ‘워너미’의 ‘서비스 등’의 구매취소 및 환불 규정은 『전자상거래 등에서의 소비자보호에 관한 법률』

                등 관련 법령을 준수합니다.

                2. 회원은 워너미가 제공하는 결제수단을 통해 유료서비스를 이용할 수 있고, 결제가 비정상적으로

                처리되어 정상처리를 요청할 경우 워너미는 회원의 결제금액을 정상처리 할 의무를 가집니다.

                3. 워너미는 부정한 방법 또는 워너미가 금지한 방법을 통해 결제된 금액에 대해서는 이를 취소하거나

                환불을 제한할 수 있습니다.

                4. 회원은 다음 각 호의 사유가 있으면 아래의 규정에 따라 워너미로부터 결제 취소, 환불 및 보상받을

                수 있습니다.

                ① 결제 후 이용할 수 있는 서비스가 없으며, 그 대한 책임이 전적으로 워너미에 있는 경우. (단, 시스템

                정기 점검, 등 불가피한 경우는 제외)

                ② 워너미 또는 결제대행사의 시스템의 오류로 인하여 결제기록이 중복으로 발생한 경우.

                ③ 기타 소비자 보호를 위하여 당사에서 따로 정하는 경우.

                5. 환불, 결제 취소 절차는 다음 각 호와 같습니다.

                ① 환불을 원하는 회원은 회원 본인임을 인증하는 절차를 고객센터를 통해 접수하셔야 하며 이와

                동시에 환불을 신청하여야 합니다.

                ② 워너미는 환불 신청이 정당함을 심사한 후 정당한 이유가 있음으로 판명된 회원에게 환불합니다.

                ③ 워너미는 회원에게 환불되어야 할 금액을 회원에게 통보하고 난 후 회원이 결제한 방법으로 해당

                환불 및 결제 취소 처리합니다.

                ④ 회원이 이용약관 및 서비스 이용 정책을 위반한 행위로 인한 사용정지 또는 강제탈퇴 되는 경우 환불

                및 보상하지 않습니다.

                ⑤ 워너미는 회원이 유료 서비스 이용하는 중이거나 이용한 후 해당 이용료를 환불해 드리지 않습니다.

                ⑥ 회원이 자진탈퇴로 인해 계약이 해지되는 경우, 회원이 보유한 모든 혜택은 자동으로 소멸되어 복구

                및 환불 하지 않습니다.

                ⑦ 워너미와 이용자간에 발생한 분쟁은 전자거래기본법 제28조 및 동 시행령 제15조에 의하여 설치된

                전자거래분쟁조정위원회의 조정에 따를 수 있습니다.

                제 9조 [워너미의 의무]

                1. 워너미는 관계법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이

                정하는 바에 따라 지속적이고, 안정적으로 ‘상품 등’을 제공하는데 최선을 다하여야 합니다.

                2. 워너미는 회원이 안전하게 ‘서비스’를 이용할 수 있도록 회원의 개인정보(신용정보

                포함)보호하고개인정보 취급방침을 공시하고 준수합니다.

                3. 워너미는 회원으로부터 제기되는 의견이나 불만이 정당하고 객관적으로 인정될 경우에는 적절한

                절차를 거쳐 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우에는 회원에게 그 사유와

                처리일정을 통보하여야 합니다.

                4. 워너미의 임직원은 서비스 제공과 관련, 회원의 개인정보를 회원 외에는 제3자에게 누설 또는

                배포해서는 안되며, 이를 어길 시 해고의 사유가 될 수 있습니다.

                제 10조 [회원의 의무]

                1. 회원은 관계법령, 이 약관의 규정, 이용안내 등 ‘워너미’가 통지하는 사항을 준수하여야 하며, 기타

                ‘워너미’ 업무에 방해되는 행위를 하여서는 안됩니다.

                2. 회원이 직접 입력한 개인정보가 허위로 작성한 사실이 적발되어 다른 회원에게 정신적, 물질적

                손해가 발생할 경우 위 문제의 민, 형사상 책임은 회원 본인에게 귀속됩니다.

                3. 워너미에 게재된 프로그램은 파트너 및 등록 회원 및 워너미의 저작물 입니다. 워너미 사이트 외 제

                3의 다른 공간에 무단으로 게재할 수 없으며 상업적 용도로 이용할 수 없습니다. 해당 행위 적발 시

                탈퇴조치 및 관련 법령에 의거 의법조치 될 수 있습니다.

                4. 회원은 아래 각 호에 해당하는 행위를 해서는 안됩니다.

                ① 서비스 신청 시 혹은 회원 가입시 허위 내용의 등록

                ② 사이트를 해킹 및 바이러스 프로그램을 이용하여 운영을 어렵게 하는 행위

                ③ 타인의 ID와 비밀번호를 도용하는 행위.

                ④ 개인 정보를 허위 또는 타인의 것으로 등록하는 행위.

                ⑤ 상대방에 대한 비방의 글 또는 인격모독에 해당하는 글을 올린 행위

                ⑥ 공공질서, 미풍양속에 저해하는 저작물 (음란물 포함) 을 등록 또는 유통시킨 경우.

                ⑦ 서비스 이용을 통해 알게 된 파트너의 영업 비밀에 해당하는 내용을 공개하는 행위

                ⑧ 기타 관계법령이나 워너미에서 정한 규정에 위배되는 행위

                5. 위의 4항 각 호에 해당 사항에 명시한 내용을 위반한 회원은 강제 탈퇴 처리 될 수 있으며, 민

                형사상의 책임을 지게 됩니다.

                6. 본 약관을 위반 하거나, 기타 대한민국 관계 법령에 위반하는 행위에 대해서는 경고 없이 회원의

                권한이 박탈되며, 이로 인한 어떠한 보상도 워너미는 회원에게 부여하지 않습니다.

                제 11 조 [회원의 ID 및 비밀번호에 대한 의무]

                1. ID (전자우편번호 및 소셜네트워크 연동으로 인한 ID)와 비밀번호에 관한 관리책임은 회원에게

                있으며, 이를 소홀히 하여 발생한 모든 민∙형사상의 책임은 회원 자신에게 있습니다.

                2. 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.

                3. 회원이 자신의 ID 및 비밀번호를 도난 당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시

                ‘워너미’에 통보하고 ‘워너미’의 조치가 있는 경우에는 그에 따라야 합니다.

                4. 회원이 제3항에 따른 통지를 하지 않거나 ‘워너미’의 조치에 응하지 아니하여 발생하는 모든

                불이익에 대한 책임은 회원에게 있습니다.

                제 12 조 [회원에 대한 통지]

                1. ‘워너미’가 회원에 대한 통지를 하는 경우, 회원이 가입신청 시 제출한 전자우편주소나 전화번호로

                SMS, PUSH 등으로 할 수 있습니다.

                2. ‘워너미’는 불특정다수 회원에 대한 통지의 경우, 1주일 이상 ‘사이트’에 게시함으로써 개별 통지에

                갈음할 수 있습니다. 다만, 회원 본인의 거래에 관하여 중대한 영향을 미치는 사항에 대하여는 개별

                통지합니다.

                제 12조 [계약의 종료]

                1. 회원의 자의에 의한 탈퇴 신청. (홈페이지 탈퇴 및 자신의 의사를 당사에 피력한 경우)

                2. 회원의 의무를 성실하게 이행하지 않거나, 약관에서 정한 회원의 의무 및 이용정책에 위반되는

                해당하는 행위를 한 회원은 사전 동의 없이 강제 탈퇴 처리

                3. 기타 회원의 여건상 지속적인 계약을 이행하지 못한다고 판단될 경우 임의탈퇴 처리할 수 있습니다.

                (예: 사망 또는 행방불명, 3개월 이상 활동을 하지 않는 휴면계정 회원 등)

                제 13조 [면책조항]

                1. ‘워너미’는 천재지변 또는 이에 준하는 불가항력으로 인하여 ‘서비스’를 제공할 수 없는 경우에는

                ‘서비스’ 제공에 관한 책임이 면제됩니다.

                2. 워너미는 회원의 서비스 이용에 필요한 서버의 보수로 인한 교체, 일시 정지, 리뉴얼 작업이 발생할

                경우 책임이 면제 됩니다.

                3. ‘워너미’는 회원의 귀책사유로 인한 ‘서비스’ 이용의 장애에 대하여 책임을 지지 않습니다.

                4. ‘워너미’는 회원이 ‘서비스’를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그

                밖의 ‘서비스’를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.

                5. ‘워너미’는 회원이 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관해서는 책임을 지지

                않습니다.

                6. 회원이 발송한 메일 내용에 대한 법적인 책임은 사용자에게 있습니다.

                7. ‘워너미’는 회원간 또는 회원과 제3자 상호간에 ‘서비스’를 매개로 하여 거래 등을 한 경우에는

                책임이 면제됩니다.

                8. ‘워너미’는 무료로 제공되는 ‘서비스’ 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지

                않습니다.

                9. 회원의 개인 정보에 부주의에 의하여 내부적인 공지 사항이 전달이 안된 경우에 그 책임은 회원

                본인에게 있습니다.

                10. 워너미의 사이트에 게재된 제3의 사이트 주소에 관하여 워너미는 어떠한 통제권도 없으며 이로

                인하여 발생 되는 손해는 회원 본인에게 있습니다.

                11. 워너미는 회원이 본 약관 규정을 위배하여 발생한 손실에 대해서는 책임을 지지 않습니다.

                부 칙

                1. 이 약관은 2016년 1월 1일부터 유효합니다.
            </div>
            <div class="col-sm-6 margin-top-20">
                <button type="submit" class="btn btn-lg btn-block btn-join" ng-click="submit()"
                        ng-disabled="myForm.$error.required || !!error.password || ((join.password && join.confirmPw) && join.password != join.confirmPw) || !isInfo || !isHome">
                    가입하기
                </button>
            </div>
            <div class="col-sm-6 margin-top-20">
                <button type="button" class="btn btn-lg btn-block btn-close" ng-click="close()">취소하기</button>
            </div>
        </div>
    </form>
</div>
