<div id="main">
    <article id="carousel" class="carousel slide" data-ride="carousel">
        <div class="content">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/dist/imgs/main/banner_video_pc.jpg">
                        <img src="/dist/imgs/main/banner_video_mobile.jpg" alt="a cute kitten">
                    </picture>
                </div>
                <div class="item">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/dist/imgs/main/banner_program_pc.jpg">
                        <img src="/dist/imgs/main/banner_program_mobile.jpg" alt="a cute kitten">
                    </picture>
                </div>
                <div class="item">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/dist/imgs/main/banner_review_pc.jpg">
                        <img src="/dist/imgs/main/banner_review_mobile.jpg" alt="a cute kitten">
                    </picture>
                </div>
                <div class="item">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/dist/imgs/main/banner_event_pc.jpg">
                        <img src="/dist/imgs/main/banner_event_mobile.jpg" alt="a cute kitten">
                    </picture>
                </div>
            </div>
            <a class="angle-left" data-target="#carousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="angle-right" data-target="#carousel" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        <ol class="carousel-indicators carousel-btns" ng-if="!isShowBtn">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
        </ol>
        <div ng-class="{'bottom-btns': isShowBtn}">
            <ul class="carousel-btns" ng-class="{'carousel-indicators': !isShowBtn}">
                <li data-target="#carousel" data-slide-to="0" class="active">
                    <div class="text">워너미와 함께하는 새로운 시작</div>
                </li>
                <li data-target="#carousel" data-slide-to="1">
                    <div class="text">커피위로 체험 프로그램</div>
                </li>
                <li data-target="#carousel" data-slide-to="2">
                    <div class="text">워너미 무료체험 현장 스케치</div>
                </li>
                <li data-target="#carousel" data-slide-to="3">
                    <div class="text">워너미 이벤트</div>
                </li>
            </ul>
        </div>
    </article>
    <article class="why-wanname">
        <div class="title">
            "워너미"는 돕습니다
            <div class="right-small-title">
                자세히 보기
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
        <div class="content-box">
            <div class="col-xs-6 col-sm-4 help">
                <img src="/dist/imgs/main/wm_help.jpg">
                <div class="text">
                    <div class="background"></div>
                    <div class="title">
                        Help Others
                    </div>
                    <div class="hover-box">
                        <div class="sub-title">
                            워너비는 돕습니다.
                        </div>
                        <div class="content">
                            살아갈 날은 길어지고 회사생활은 점점 짧아집니다.  새로운 일을 하고 싶은데 무엇부터 어떻게 해야 할지 모릅니다.
                            워너미에서는 당신의 문제의 해답을 찾도록 도와드립니다.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 sincerity">
                <img src="/dist/imgs/main/wm_sincerity.jpg">
                <div class="text">
                    <div class="background"></div>
                    <div class="title">
                        Sincerity
                    </div>
                    <div class="hover-box">
                        <div class="sub-title">
                            워너미는 진정성 입니다.
                        </div>
                        <div class="content">
                            당신이 겪게 될 일을 미리 경험한 사람들의 조언만큼 소중한 것은 없습니다.
                            막연히 ‘열심히 해＇가 아닌 ‘열심히 하기 위한 방법과 길’을 경험을 통해 알려 줄 수 있는 ‘진정성’ 있는 가이드가 있습니다.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 drive">
                <img src="/dist/imgs/main/wm_drive.jpg">
                <div class="text">
                    <div class="background"></div>
                    <div class="title">Test Drive</div>
                    <div class="hover-box">
                        <div class="sub-title">
                            워너미는 시운전 입니다.
                        </div>
                        <div class="content">
                            당신이 원하는 일에 당장 뛰어들기 보다는 우선 시운전 (Test Drive)를 해보세요. 실패의 확률은 줄어 들고 기회는 올라갑니다.
                            일을 경험하고 조언을 듣고 당신이 원하는 일이 당신과 맞는지 확인할 수 있습니다.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 logo">
                <img src="/dist/imgs/main/wm_logo.jpg">
            </div>
        </div>
    </article>
    <article class="notice">
        <div class="title">
            알려 드려요
            <div class="right-small-title">
                더 보기
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
        <div class="content-box">
            <notice-list no-page="true"></notice-list>
        </div>
    </article>
    <article class="program">
        <div class="title">
            프로그램
            <div class="right-small-title" ui-sref="program.list">
                더 보기
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
        <program is-main="true"></program>
    </article>
    <!--<article class="blog">
        <div class="title">
            블로그
            <div class="right-small-title">
                더 보기
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
        <div class="content-box">
            <div class="col-xs-6 col-md-4">

            </div>
            <div class="col-xs-6 col-md-4">

            </div>
            <div class="col-xs-6 col-md-4">

            </div>
            <div class="col-xs-6 col-md-3">

            </div>
            <div class="col-xs-12 col-md-9">

            </div>
            <div class="col-xs-12 col-md-6">

            </div>
            <div class="col-xs-12 col-md-6">

            </div>
        </div>
    </article>-->
</div>
