<div id="blog">
    <div class="main-title">
        블로그
        <div class="small">
            직장인들에게 도움이 되는 칼럼과 이야기. 워너미의 다양한 소식을 함께 하세요.
        </div>
    </div>
    <article class="best-blog clearfix">
        <h2>Best 공감 블로그</h2>
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="list in bestList">
            <img ng-src="{{list.content | getFirstImg}}">
            <div class="background"></div>
            <div class="text">
                {{list.title}}
            </div>
        </div>
    </article>
    <article class="content-box clearfix">
        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="list in blogList">
            <img ng-src="{{list.content | getFirstImg}}">
            <div class="background"></div>
            <div class="text">
                {{list.title}}
            </div>
        </div>
        <div class="text-center float-left

        " style="width: 100%">
            <uib-pagination total-items="count" ng-model="search.page" max-size="10" items-per-page="20" class="pagination-sm" rotate="false"></uib-pagination>
        </div>
    </article>
</div>