<div id="blog">
    <article>
        <div class="main-title">
            블로그
            <div class="small">
                직장인들에게 도움이 되는 칼럼과 이야기. 워너미의 다양한 소식을 함께 하세요.
            </div>
        </div>
        <div class="content-box">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="/dist/imgs/main/pgm_01_wiro.jpg">  
                <div class="text">
                    일인 커피숍과 커피에 대한 모든 것
                    일인 커피숍과 커피에 대한 모든 것
                    일인 커피숍과 커피에 대한 모든 것
                    일인 커피숍과 커피에 대한 모든 것
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="/dist/imgs/main/pgm_01_wiro.jpg">
                <div class="text">
                    일인 커피숍과 커피에 대한 모든 것
                </div>
            </div>
        </div>
    </article>
</div>