.red {
    color: red;
}
.blue {
    color: #1371e7;
}
/* cursor */
.pointer {
    cursor: pointer;
}
/* padding */
.padding-top-5 {
    padding-top: 5px;
}
.padding-top-7 {
    padding-top: 7px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-30 {
    padding-top: 30px;
}
/* left */
.padding-left-5 {
    padding-left: 5px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-left-20 {
    padding-left: 20px;
}



/* margin */
.margin-bottom-0 {
    margin-bottom: 0px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-right-15 {
    margin-right: 15px;
}

/* font-weight */
.font-weight-500 {
    font-weight: 500
}
.font-weight-700 {
    font-weight: 700
}

/* float */
.float-right {
    float: right;
}
.float-left {
    float: left;
}

/* error */
.error {
    color: red;
    font-size: 12px;
}