.datepicker.dropdown-menu {
    width: 250px;
    height: 270px
}
.datepicker.dropdown-menu button {
    outline: 0;
    border: 0
}
.datepicker.dropdown-menu tbody {
    height: 180px
}
.datepicker.dropdown-menu tbody button {
    padding: 6px
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}