#center article {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 15px 0;
}

#center article .title {
    font-size: 18px;
    font-weight: 600;
}

#center article .more {
    float: right;
    font-size: 14px;
    margin-right: 5px;
    font-weight: normal;
    cursor: pointer;
}