footer {
    bottom: 0;
    width: 100%;
    font-size: 11px;
    color: #7b7b7b;
}

#footer .footer {
    background-color: #ececec;
    padding: 2%;
    float: left;
    width: 100%;
}

#footer p {
    margin: 0 0 5px;
}

#footer ul li {
    float: left;
    position: relative;
    margin-right: 3%;
}

#footer ul li.escro {
    width: 110px;
    float: right;
}

#footer ul li .text {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 55px;
    top: 0;
    bottom: 0;
    margin: auto;
}


@media (max-width: 768px) {
    footer .container {
        padding: 0;
        width: 100%;
    }

    #footer ul {
        padding: 5px;
    }

    #footer ul li {
        margin-top: 10px;
        margin-right: 0;
        padding-left: 0;
    }

    #footer ul li.escro {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    footer .container {
        padding: 0;
        width: 100%;
    }

    #footer ul li {
        float: left;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        width: calc(100% - 130px);
    }

    #footer ul li.escro {
        width: 110px;
        float: right;
    }
}