footer {
    bottom: 0;
    width: 100%;
    font-size: 11px;
    color: #7b7b7b;
}

#footer .footer {
    background-color: #ececec;
    padding: 2%;
    float: left;
    width: 100%;
}

#footer p {
    margin: 0 0 5px;
}

#footer .footer .logo {
    float: left;
}

#footer .footer .content {
    float: left;
    padding-left: 55px;
}

#footer .footer .escro {
    float: right;
    margin-right: 50px;
}

#footer .footer .escro .text{
    float: left;
    padding: 10px 5px;
}

@media (max-width: 992px) {
    footer .container {
        padding: 0;
        width: 100%;
    }

    #footer .footer .content {
        margin-top: 10px;
        padding-left: 0;
    }
}
