#header {
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    height: 80px;
    z-index: 999;
}

#header .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

#header .logo {
    float: left;
    margin-top: 5px;
}

#header .menu-group {
    -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; -ms-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;
}

#header ul {
    float: left;
    padding: 0;
    margin-left: 50px;
}

#header ul li {
    float: left;
    position: relative;
    display: block;
    padding: 0;
    /*border-left: 2px solid #ccc;
    padding: 0 20px;*/
    margin: 20px 0;
    color: #7b7b7b;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#header ul>li+li:before {
    padding: 0 5px;
    color: #ccc;
    /*content: "/\00a0";*/
    content: "|\00a0";
}

#header ul>li>a {
    padding: 0 20px;
}

#header ul li:first-child {
    border-left: 0;
}

#header ul li:hover a {
    color: #1371e7;
}

#header ul.sub-menu {
    float: right;
}

#header .menu-btn {
    float: right;
    color: #9d9d9d;
    cursor: pointer;
    z-index: 999;
    border: 1px solid  #dcdcdc;
    margin: 5px;
    border-radius: 5px;
    padding: 9px 10px;
    display: none;
}

#header .menu-btn .fa{
    font-size: 17px;
    font-weight: 200;
    margin: 0px 3px;
}

#header .menu-btn:hover,
#header .menu-btn:focus {
    background-color: #eee;
}

@media (max-width: 767px) {
    #header {
        position: fixed;
        height: auto;
    }

    #header .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #header .navbar-header {
        margin: 5px 0;
    }

    #header .logo {
        margin-top: 5px;
        padding-left: 10px;
    }

    #header .menu-btn {
        display: block;
    }

    #header .menu-group {
        position: fixed;
        -webkit-transform: translateX(100%) !important;
        -moz-transform: translateX(100%) !important;
        -o-transform: translateX(100%) !important;
        -ms-transform: translateX(100%) !important;
        opacity: 0;
        filter: alpha(opacity=0)!important;
        width: 260px;
        height: 100%;
        right: 0px;
        background-color: rgba(255,255,255,.9);
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    }

    #header .menu-show {
        -webkit-transform: translateX(0) !important;
        -moz-transform: translateX(0) !important;
        -o-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
        opacity: 1;
        filter: alpha(opacity=1)!important;
    }

    #header ul {
        padding: 0;
        float: left;
        width: 100%;
        margin-left: 0px;
    }

    #header ul li {
        position: relative;
        float: none;
        padding: 15px;
        margin: 0;
        color: #323232;
        cursor: pointer;
        border-left: none;
        height: auto;
        border-bottom: 1px solid #dcdcdc;
    }

    #header ul>li+li:before {
        padding: 0;
        color: #ccc;
        /*content: "/\00a0";*/
        content: "";
    }

    #header ul li:hover {
        background-color: rgba(247,247,247,.9);
    }

    #header ul li:hover a {
        color: #2f8cea;
    }

    #header ul.sub-menu {
        float: left;
        width: 100%;
        margin: 0;
    }

    #header ul.sub-menu li {
        float: left;
        width: 50%;
        text-align: center;
        border-right: 1px solid #dcdcdc;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    #header {
        height: auto;
    }

    #header .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    #header .navbar-header {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #dcdcdc;
    }

    #header ul {
        margin: 0;
    }
    #header ul li {
        margin: 10px 0;
    }

    #header .logo {
        float: none;
        margin: 0;
    }

    #header .logo i {
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #header .container {
        width: 100%;
    }
}
