<div id="footer">
    <div class="container">
        <div class="service">
            <ul>
                <li ui-sref="center.notice">
                    <a>공지사항</a>
                </li>
                <!--<li>
                    <a>1:1문의</a>
                </li>-->
                <li ui-sref="center.faq">
                    <a>FAQ</a>
                </li>
                <li>
                    <a>약관 정보처리현황</a>
                </li>
                <li>
                    <a ng-click="clickD()">환불규정</a>
                </li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <li><i class="logo-bk logo_footer"></i></li>
                <li>
                    <p>
                        막연한 새로운 시작의 두려움, 워너미와 함께하면 두렵지 않습니다. 잡큐레이션 워너미
                    </p>
                    <p>
                        서울특별시 송파구 문정동 292 가든파이브 툴관 5층 강남 청년 창업센터 521호
                    </p>
                    <p>
                        사업자 번호: 412-06-963-89
                        <span class="padding-left-10">통신판매업 신고번호: 제 2105-서울송파-1269호</span>
                        <span class="padding-left-10">문의: help@wanname.kr</span>
                    </p>
                    <p>Copyright (c)2015워너미 wanna:me</p>
                </li>
                <li class="escro">
                    <i class="logo-bk wm_escro"></i>
                    <div class="text">
                        KB 에스크로<br>
                        가입확인
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>