<nav id="header">
    <div class="container">
        <div class="navbar-header">
            <div class="logo">
                <i class="logo-bk logo_header"></i>
            </div>
            <div id="headerMenuBtn" class="menu-btn">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="menu-group">
            <ul class="sub-menu" ng-if="!$root.user">
                <li ng-click="login()">
                    <a>로그인</a>
                </li>
                <li ng-click="join()">
                    <a>회원가입</a>
                </li>
            </ul>
            <ul class="sub-menu" ng-if="$root.user">
                <li>
                    <a>MyPage</a>
                </li>
                <li ng-click="logout()">
                    <a>로그아웃</a>
                </li>
            </ul>
            <ul class="menu">
                <li>
                    <a ui-sref="program">프로그램</a>
                </li>
                <li>
                    <a>블로그</a>
                </li>
                <li>
                    <a>고객센터</a>
                </li>
                <li>
                    <a>워너미 소개</a>
                </li>
            </ul>
        </div>
    </div>
</nav>