<nav id="header">
    <div class="container">
        <div class="navbar-header">
            <div class="logo pointer" ui-sref="main">
                <i class="logo-bk logo_header"></i>
            </div>
            <div id="headerMenuBtn" ng-click="toggle()" class="menu-btn">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="menu-group">
            <ul class="sub-menu" ng-if="!$root.user">
                <li ng-click="login()">
                    <a>로그인</a>
                </li>
                <li ng-click="join()">
                    <a>회원가입</a>
                </li>
            </ul>
            <ul class="sub-menu" ng-if="$root.user">
                <li ui-sref="myPage">
                    <a>MyPage</a>
                </li>
                <li ng-click="logout()">
                    <a>로그아웃</a>
                </li>
            </ul>
            <ul class="menu">
                <li ui-sref="program.list" ng-class="{active: $state.includes('program.*')}">
                    <a>프로그램</a>
                </li>
                <li ui-sref="blog.list" ng-class="{active: $state.includes('blog.*')}">
                    <a>블로그</a>
                </li>
                <li ui-sref="center.main" ng-class="{active: $state.includes('center.*')}">
                    <a>고객센터</a>
                </li>
                <li ui-sref="about" ng-class="{active: $state.includes('about')}">
                    <a>워너미 소개</a>
                </li>
            </ul>
        </div>
    </div>
</nav>