<nav class="navbar  navbar-fixed-top">
    <div class="navbar-header">
        <div class="menu-btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <i class="fa fa-bars"></i>
        </div>
        <a class="navbar-brand" href="/">wanname</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">
            <li ng-class="checkActive('program')"><a ui-sref="program" ng-click="closeMenu()">프로그램</a></li>
            <li ng-class="checkActive('1')"><a href="#about">상담센터</a></li>
            <li ng-class="checkActive('2')"><a href="#contact">워너미 소개</a></li>
            <li ng-if="!$root.user"><a ng-click="openLogin()">로그인</a></li>
            <li ng-if="!$root.user"><a ng-click="openJoin()">회원가입</a></li>
            <li ng-if="!!$root.user" ng-class="checkActive('myPage')" uib-dropdown>
                <a uib-dropdown-toggle>마이페이지<span class="caret"></span></a>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a ui-sref="myPage">My Page</a></li>
                    <li role="menuitem"><a href="#">결제내역</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a ng-click="logout()">로그아웃</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>