<div id="profileEdit">
    <div class="modal-header blue">
        <button type="button" class="close" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        나의 정보 수정
    </div>
    <form class="form-horizontal" name="myForm">
        <div class="modal-body clearfix margin-top-20">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">이메일(ID)</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="입력 예) wanname@wanname.kr" ng-model="$root.user._id" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">이름</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="실명을 입력해 주세요. 입력 예) 손성곤" ng-model="user.name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">비밀번호</label>
                <div class="col-sm-10">
                    <button class="btn btn-warning btn-sm" ng-click="togglePasswordBox()">비밀번호 변경</button>
                </div>
            </div>
            <div uib-collapse="closePasswordBox" class="password-box margin-bottom-10">
                <div class="clearfix">
                    <div class="form-group">
                        <label>비밀번호</label>
                        <div>
                            <input type="password" class="form-control" placeholder="비밀번호" ng-model="password.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>새로운 비밀번호</label>
                        <div>
                            <input type="password" class="form-control" placeholder="새로운 비밀번호" ng-model="password.newPassword" ng-blur="checkPassword()">
                            <div class="error" ng-if="passwordErr">
                                * {{passwordErr}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>새로운 비밀번호 확인</label>
                        <div>
                            <input type="password" class="form-control" placeholder="새로운 비밀번호 확인" ng-model="password.confirmPw">
                            <div class="red" ng-if="(password.newPassword && password.confirmPw) && password.newPassword != password.confirmPw">
                                * 입력하신 비밀번호가 동일하지 않습니다.
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-danger" ng-disabled="passwordErr || !password.password || !password.newPassword || !password.confirmPw || password.newPassword != password.confirmPw"
                                ng-click="doChangePassword()">비밀번호 변경</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">성별</label>
                <div class="col-sm-10 radio">
                    <label>
                        <input type="radio" name="gender" value="남자" ng-model="user.gender">
                        남자
                    </label>
                    <label class="margin-left-15">
                        <input type="radio" name="gender" value="여자" ng-model="user.gender">
                        여자
                    </label>
                </div>
            </div>
            <div class="form-group birthday">
                <label class="col-sm-2 control-label">생년월일</label>
                <div class="col-sm-10">
                    <input-date-each date-data="user.birthday"></input-date-each>
                    <div class="error" ng-if="error.birthday">
                        * {{error.birthday}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">전화번호</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPh" placeholder="전화번호" maxlength="11" ng-model="user.ph" ph-pattern>
                </div>
            </div>
            <div class="col-sm-6 margin-top-20">
                <button type="submit" class="btn btn-lg btn-block btn-edit" ng-click="submit()"
                        ng-disabled="myForm.$error.required">
                    수정하기
                </button>
            </div>
            <div class="col-sm-6 margin-top-20">
                <button type="button" class="btn btn-lg btn-block btn-close" ng-click="close()">취소하기</button>
            </div>
        </div>
    </form>
</div>
