<div id="programDetail" class="menu-detail">
    <div class="main-title">
        프로그램
        <div class="small">
            워너미와 함께 경험, 조언, 기회를 제공하는 파트너들의 프로그램 입니다.
        </div>
    </div>
    <article>

    </article>
    <article>
        <div class="main-title">
            프로그램 후기
        </div>
        <div class="after-box">
            <div class="best-after">

            </div>
        </div>
    </article>
    <article>
        <div class="main-title">
            프로그램 코스
        </div>
        <div class="couse-list">

        </div>
    </article>
</div>