<div>
    <div class="modal-header blue">
        <button type="button" class="close" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        1:1 문의
    </div>
    <div class="modal-body clearfix">
        <form name="myForm">
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" placeholder="ID" ng-model="$root.user._id" readonly>
            </div>
            <div class="form-group">
                <label>이름</label>
                <input type="text" class="form-control" placeholder="이름" ng-model="$root.user.name" readonly>
            </div>
            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-control" placeholder="제목" ng-model="qna.title" ng-disabled="!!qna.itemId" required>
            </div>
            <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" rows="10" placeholder="내용" ng-model="qna.content" required></textarea>
            </div>
            <button class="btn btn-primary btn-block btn-lg" ng-click="addQna()" ng-disabled="myForm.$error.required">등록하기</button>
        </form>
        </article>
    </div>
</div>
