<div class="program-box">
    <div class="program-list clearfix">
        <div class="col-sm-6 col-md-4" ng-repeat="list in applyList | orderBy : 'regDt' : true">
            <img ng-src="{{list.mainImage[0] | getImage}}" ui-sref="program.detail({_id: list._id})">
            <div class="text">
                <div ui-sref="program.detail({_id: list._id})">
                    <div class="title">
                        {{list.title}}
                    </div>
                    <div class="nmame">커피위로 정희수 로스터</div>
                </div>
            </div>
        </div>
    </div>
</div>